@(title: String, subTitle: String, appName: String, vappVersion: String, nav: String)

@main(title, subTitle, nav) {
    
<div class="jumbotron">
  <h1>
  	@title
  	<br />
  	<small>@subTitle</small>
  </h1>
  <p>short description ...</p>
</div>
<div>
	<div class="row">
		<div class="col-md-12">
			<h2>Features</h2>
			<ul class="list-group">
  				<li class="list-group-item">
    				<span class="badge">In progress</span>
    				<h4 class="list-group-item-heading">Switch between Bootstrap Theme</h4>
    				<p class="list-group-item-text">Themes switching is available ! Just modify the theme.name var in configuration file</p>
  				</li>
  				<li class="list-group-item">
    				<span class="badge">0.1</span>
    				<h4 class="list-group-item-heading">Preview Custom Bootstrap Themes using <a href="https://bootswatch.com/">Bootswatch Themes library</a></h4>
    				<p class="list-group-item-text">Themes preview is available ! Using Bootswatch API to dynamicaly load a preview of selected theme. (See 'Theme preview' page)</p>
  				</li>
  				<li class="list-group-item">
    				<span class="badge">0.1</span>
    				<h4 class="list-group-item-heading">Web interface base</h4>
    				<p class="list-group-item-text">First minimal structure to create a responsive we interface</p>
  				</li>
  				<li class="list-group-item disabled">
    				<span class="badge">0.1</span>
    				<h4 class="list-group-item-heading">No core app defined in this example</h4>
    				<p class="list-group-item-text">It is important to split into 2 modules the core and the wui. Like that you can develop and release each over independently.</p>
  				</li>
  			</ul>
		</div>
	</div>
	<div class="col-md-6">
		<h2>Technologies</h2>
		<ul>
			<li><a href="https://www.playframework.com/" target="blank" >Play 2.1.5</a></li>
			<li><a href="http://getbootstrap.com/" target="blank" >Bootstrap 3</a></li>
			<li><a href="https://angularjs.org/" target="blank" >AngularJS 1.3.14</a></li>
			<li><a href="https://jquery.com/" target="blank" >JQuery 1.11.2</a></li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h2>Langages</h2>
			<ul>
				<li>JAVA (JSE)</li>
				<li>Scala</li>
				<li>CSS 3</li>
				<li>HTML 5</li>
				<li>JavaScript</li>
			</ul>
		</div>
	</div>
</div>
}